weltgewebe.home.arpa {

  handle_path /api/* {
    reverse_proxy api:8080
  }

  handle {
    root * /srv/weltgewebe-web
    try_files {path} /index.html
    file_server
  }
}

:8081 {
  reverse_proxy api:8080
}
